{% extends 'base.html' %}

{% block body %}

<div id="rec170843943" class="r t-rec t-rec_pt_0 t-rec_pt-res-480_90" style="padding-top:0px;background-color:#ffffff; "
     data-animationappear="off" data-record-type="396" data-bg-color="#ffffff">
    <!-- T396 -->
    {% if not coloradmin %}
    <style>
        #rec170843943 .tn-elem[data-elem-id="1584456573656"] .tn-atom {
            border-radius: 750px;
            opacity: 0.5;
            background-color: #f75e5e;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }
    </style>
    {% else %}
    <style>
        #rec170843943 .tn-elem[data-elem-id="1584456573656"] .tn-atom {
            border-radius: 750px;
            opacity: 0.5;
            background-color: #5d615d;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }
    </style>
    {% endif %}
    <style>
        #rec170843943 {
            /* Укажите новые значения для свойств, чтобы уменьшить размер элемента */
            width: 80%;
            height: 700px;
            /* Дополнительные свойства стиля по вашему усмотрению */
        }

        #rec170843943 .t396__artboard {
            min-height: 500px;
            height: 100vh;
            background-color: #fff;
            overflow: visible;
        }

        #rec170843943 .t396__filter {
            min-height: 500px;
            height: 100vh;
        }

        #rec170843943 .t396__carrier {
            min-height: 500px;
            height: 100vh;
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media screen and (max-width: 1199px) {
            #rec170843943 .t396__artboard {
            }

            #rec170843943 .t396__filter {
            }

            #rec170843943 .t396__carrier {
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .t396__artboard {
                min-height: 610px;
            }

            #rec170843943 .t396__filter {
                min-height: 610px;
            }

            #rec170843943 .t396__carrier {
                min-height: 610px;
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .t396__artboard {
            }

            #rec170843943 .t396__filter {
            }

            #rec170843943 .t396__carrier {
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .t396__artboard {
                min-height: 940px;
            }

            #rec170843943 .t396__filter {
                min-height: 940px;
            }

            #rec170843943 .t396__carrier {
                min-height: 940px;
                background-attachment: scroll;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584456573656"] {
            z-index: 2;
            top: calc(50vh - 250px + -525px);
            left: calc(50% - 600px + 600px);
            width: 1500px;
            height: 1500px;
        }


        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584456573656"] {
                top: -495px;
                left: calc(50% - 320px + 330px);
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584456573656"] {
                top: -490px;
                left: calc(50% - 240px + 250px);
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584456573656"] {
                top: 491px;
                left: calc(50% - 160px + -40px);
                width: 400px;
                height: 400px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584435295685"] {
            color: #344553;
            z-index: 3;
            top: calc(50vh - 250px + -15px);
            left: calc(50% - 600px + 20px);
            width: 530px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584435295685"] .tn-atom {
            color: #344553;
            font-size: 48px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 600;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584435295685"] {
                top: -8px;
                left: calc(50% - 320px + 20px);
                width: 290px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584435295685"] .tn-atom {
                font-size: 44px;
                line-height: 1.1;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584435295685"] {
                top: -3px;
                left: calc(50% - 160px + 10px);
                width: 310px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584435295685"] .tn-atom {
                font-size: 28px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584435526416"] {
            z-index: 4;
            top: calc(50vh - 250px + 70px);
            left: calc(50% - 600px + 20px);
            width: 50px;
            height: 50px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584435526416"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584435526416"] {
                top: 120px;
                left: calc(50% - 320px + 20px);
                height: 0px;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584435526416"] {
                top: 50px;
                left: calc(50% - 160px + 10px);
                height: 0px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584435567699"] {
            color: #000000;
            z-index: 5;
            top: calc(50vh - 250px + 82px);
            left: calc(50% - 600px + 101px);
            width: 450px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584435567699"] .tn-atom {
            color: #000000;
            font-size: 22px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584435567699"] {
                top: 132px;
                left: calc(50% - 320px + 91px);
                width: 220px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584435567699"] .tn-atom {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584435567699"] {
                top: 132px;
                left: calc(50% - 240px + 81px);
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584435567699"] {
                top: 62px;
                left: calc(50% - 160px + 71px);
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584455938390"] {
            z-index: 7;
            top: calc(50vh - 250px + -5px);
            left: calc(50% - 600px + 760px);
            width: 450px;
            height: 569.16996047431px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584455938390"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec170843943 .tn-elem[data-elem-id="1584455938390"] {
                top: 25px;
                left: calc(50% - 480px + 710px);
                width: 390px;
                height: 493.28063241107px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584455938390"] {
                top: 65px;
                left: calc(50% - 320px + 390px);
                height: 0px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584455938390"] {
                top: 88px;
                left: calc(50% - 240px + 280px);
                width: 320px;
                height: 404.74308300395px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584455938390"] {
                top: 530px;
                left: calc(50% - 160px + 57px);
                height: 0px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585104055"] {
            z-index: 8;
            top: calc(50vh - 250px + 192px);
            left: calc(50% - 600px + 19px);
            width: 50px;
            height: 52.272727272727px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585104055"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585104055"] {
                top: 225px;
                left: calc(50% - 320px + 19px);
                height: 0px;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585104055"] {
                top: 157px;
                left: calc(50% - 160px + 9px);
                height: 0px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585104063"] {
            color: #000000;
            z-index: 9;
            top: calc(50vh - 250px + 205px);
            left: calc(50% - 600px + 100px);
            width: 490px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585104063"] .tn-atom {
            color: #000000;
            font-size: 22px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585104063"] {
                top: 218px;
                left: calc(50% - 320px + 90px);
                width: 210px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585104063"] .tn-atom {
                font-size: 18px;
                line-height: 1.25;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584585104063"] {
                top: 195px;
                left: calc(50% - 240px + 81px);
                width: 160px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585104063"] .tn-atom {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585104063"] {
                top: 163px;
                left: calc(50% - 160px + 70px);
                width: 230px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585166789"] {
            z-index: 10;
            top: calc(50vh - 250px + 283px);
            left: calc(50% - 600px + 19px);
            width: 50px;
            height: 48px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585166789"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585166789"] {
                top: 316px;
                left: calc(50% - 320px + 19px);
                height: 0px;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585166789"] {
                top: 248px;
                left: calc(50% - 160px + 9px);
                height: 0px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585166797"] {
            color: #000000;
            z-index: 11;
            top: calc(50vh - 250px + 294px);
            left: calc(50% - 600px + 100px);
            width: 390px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585166797"] .tn-atom {
            color: #000000;
            font-size: 22px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585166797"] {
                top: 317px;
                left: calc(50% - 320px + 90px);
                width: 240px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585166797"] .tn-atom {
                font-size: 18px;
                line-height: 1.25;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584585166797"] {
                top: 283px;
                left: calc(50% - 240px + 81px);
                width: 140px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585166797"] .tn-atom {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585166797"] {
                top: 251px;
                left: calc(50% - 160px + 70px);
                width: 230px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585189317"] {
            z-index: 12;
            top: calc(50vh - 250px + 370px);
            left: calc(50% - 600px + 19px);
            width: 50px;
            height: 37.931034482759px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585189317"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585189317"] {
                top: 403px;
                left: calc(50% - 320px + 19px);
                height: 0px;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585189317"] {
                top: 335px;
                left: calc(50% - 160px + 9px);
                height: 0px;
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585189324"] {
            color: #000000;
            z-index: 13;
            top: calc(50vh - 250px + 376px);
            left: calc(50% - 600px + 100px);
            width: 390px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585189324"] .tn-atom {
            color: #000000;
            font-size: 22px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585189324"] {
                top: 399px;
                left: calc(50% - 320px + 90px);
                width: 230px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585189324"] .tn-atom {
                font-size: 18px;
                line-height: 1.25;
            }
        }

        @media screen and (max-width: 639px) {
            #rec170843943 .tn-elem[data-elem-id="1584585189324"] {
                top: 375px;
                left: calc(50% - 240px + 81px);
                width: 190px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585189324"] .tn-atom {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585189324"] {
                top: 333px;
                left: calc(50% - 160px + 70px);
            }
        }

        #rec170843943 .tn-elem[data-elem-id="1584585281663"] {
            color: #e6b9c2;
            z-index: 14;
            top: calc(50vh - 250px + 434px);
            left: calc(50% - 600px + 19px);
            width: 460px;
        }

        #rec170843943 .tn-elem[data-elem-id="1584585281663"] .tn-atom {
            color: #e6b9c2;
            font-size: 24px;
            font-family: 'Montserrat', Arial, sans-serif;
            line-height: 1.3;
            font-weight: 500;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
            #rec170843943 .tn-elem[data-elem-id="1584585281663"] {
                top: 467px;
                left: calc(50% - 320px + 19px);
                width: 240px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585281663"] .tn-atom {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
            #rec170843943 .tn-elem[data-elem-id="1584585281663"] {
                top: 399px;
                left: calc(50% - 160px + 9px);
                width: 300px;
            }

            #rec170843943 .tn-elem[data-elem-id="1584585281663"] .tn-atom {
                font-size: 18px;
            }
        }
    </style>

    <div class='t396'>
        <style>.t396__elem.tn-elem__1708439431584585104070 {
            position: relative;
            z-index: 400;
        }</style>
        <div class="t396__artboard" data-artboard-recid="170843943" data-artboard-screens="320,480,640,960,1200"
             data-artboard-height="500" data-artboard-valign="center" data-artboard-height_vh="100"
             data-artboard-upscale="grid" data-artboard-ovrflw="visible" data-artboard-height-res-320="940"
             data-artboard-height-res-640="610">
            <!--            первая кнопка-->
            <div class='t396__elem tn-elem tn-elem__1708439431584585104070' data-elem-id='1584585104070'
                 data-elem-type='button'
                 data-field-top-value="400"
                 data-field-left-value="760"
                 data-field-width-value="600" data-field-axisy-value="top" data-field-axisx-value="left"
                 data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                 data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-style="fadeinleft"
                 data-animate-duration="1.5" data-animate-delay="0.5" data-animate-distance="300"
                 data-field-filewidth-value="759" data-field-fileheight-value="960" data-field-top-res-320-value="480"
                 data-field-left-res-320-value="57" data-field-top-res-480-value="48"
                 data-field-left-res-480-value="280" data-field-width-res-480-value="320"
                 data-field-top-res-640-value="25" data-field-left-res-640-value="390" data-field-top-res-960-value="0"
                 data-field-left-res-960-value="710" data-field-width-res-960-value="390">
                {% if loginin%}
                {% if status and status.lower() == 'member' or coloradmin %}
                <a href="/nextgame" target="_blank" class="tn-atom"
                   field='tn_button_1584585104070'>
                    <div class="tn-button"
                         style="background-color: #f75e5e; color: #2d4250; font-weight: 600; border-radius: 30px;
       padding: 20px 30px; display: inline-block; text-align: center; text-decoration: none;
       transform: rotate(0deg); width: 300px; font-size: 18px;">
                        <span class="tn-button-label" style="line-height: 1;">Забронировать место</span>
                    </div>
                </a>
                {% elif status and status.lower() == 'vip'%}
                <a href="/nextgame" target="_blank" class="tn-atom"
                   field='tn_button_1584585104070'>
                    <div class="tn-button"
                         style="background-color: #f75e5e; color: #2d4250; font-weight: 600; border-radius: 30px;
       padding: 20px 30px; display: inline-block; text-align: center; text-decoration: none;
       transform: rotate(0deg); width: 300px; font-size: 18px;">
                        <span class="tn-button-label" style="line-height: 1;">Забронировать место</span>
                    </div>
                </a>
                {% else %}
                <a target="_blank" class="tn-atom"
                   field='tn_button_1584585104070'>
                    <div class="tn-button"
                         style="background-color: #f75e5e; color: #2d4250; font-weight: 600; border-radius: 30px;
       padding: 20px 30px; display: inline-block; text-align: center; text-decoration: none;
       transform: rotate(0deg); width: 300px; font-size: 18px;">
                        <span class="tn-button-label" style="line-height: 1;">Вас ещё не приняли в клуб</span>
                    </div>
                </a>
                {% endif %}
                {% endif %}
            </div>
            <div class="t396__carrier" data-artboard-recid="170843943"></div>
            <div class="t396__filter" data-artboard-recid="170843943"></div>
            <div class='t396__elem tn-elem tn-elem__1708439431584456573656 t-animate' data-elem-id='1584456573656'
                 data-elem-type='shape' data-field-top-value="-525" data-field-left-value="600"
                 data-field-height-value="1500" data-field-width-value="1500" data-field-axisy-value="top"
                 data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px"
                 data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px"
                 data-animate-style="zoomin" data-animate-duration="1.5" data-animate-scale="0"
                 data-field-top-res-320-value="491" data-field-left-res-320-value="-40"
                 data-field-height-res-320-value="400" data-field-width-res-320-value="400"
                 data-field-top-res-480-value="-490" data-field-left-res-480-value="250"
                 data-field-top-res-640-value="-495" data-field-left-res-640-value="330">
                <div class='tn-atom'></div>
            </div>
            <div class='t396__elem tn-elem tn-elem__1708439431584435295685 t-animate' data-elem-id='1584435295685'
                 data-elem-type='text' data-field-top-value="-15" data-field-left-value="20"
                 data-field-width-value="530" data-field-axisy-value="top" data-field-axisx-value="left"
                 data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                 data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-style="fadeinright"
                 data-animate-duration="1.5" data-animate-distance="300" data-field-top-res-320-value="-3"
                 data-field-left-res-320-value="10" data-field-width-res-320-value="310"
                 data-field-top-res-640-value="-8" data-field-left-res-640-value="20"
                 data-field-width-res-640-value="290">
                {% if loginin %}
                <h1 class='tn-atom' field='tn_text_1584435295685'>Принять участие в следующей игре:</h1>
                {% else %}
                <h6 class='tn-atom' field='tn_text_1584435295685'>Войдите для участия в игре:</h6>
                {% endif %}
            </div>
            <div class='t396__elem tn-elem tn-elem__1708439431584455938390 t-animate' data-elem-id='1584455938390'
                 data-elem-type='image' data-field-top-value="-120" data-field-left-value="760"
                 data-field-width-value="500" data-field-axisy-value="top" data-field-axisx-value="left"
                 data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                 data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-style="fadeinleft"
                 data-animate-duration="1.5" data-animate-delay="0.5" data-animate-distance="300"
                 data-field-filewidth-value="759" data-field-fileheight-value="960" data-field-top-res-320-value="480"
                 data-field-left-res-320-value="57" data-field-top-res-480-value="48"
                 data-field-left-res-480-value="280" data-field-width-res-480-value="320"
                 data-field-top-res-640-value="25" data-field-left-res-640-value="390" data-field-top-res-960-value="0"
                 data-field-left-res-960-value="710" data-field-width-res-960-value="390">
                <div class='tn-atom'>
                    <img class='tn-atom__img t-img'
                         data-original='static/data/cards.png'
                         alt='' imgfield='tn_img_1584455938390'/>
                </div>


            </div>

            <div class='t396__elem tn-elem tn-elem__1708439431584585104055 t-animate' data-elem-id='1584585104055'
                 data-elem-type='image' data-field-top-value="192" data-field-left-value="19"
                 data-field-width-value="50" data-field-axisy-value="top" data-field-axisx-value="left"
                 data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                 data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-style="fadeinright"
                 data-animate-duration="1.5" data-animate-delay="0.4" data-animate-distance="300"
                 data-field-filewidth-value="22" data-field-fileheight-value="23" data-field-top-res-320-value="157"
                 data-field-left-res-320-value="9" data-field-top-res-640-value="225"
                 data-field-left-res-640-value="19">
                <div class='tn-atom'>
                    <img class='tn-atom__img t-img'
                         data-original="static/data/fichki.JPG"
                         alt='' imgfield='tn_img_1584585104055'/>
                </div>

            </div>

            <div class='t396__elem tn-elem tn-elem__1708439431584585104063 t-animate' data-elem-id='1584585104063'
                 data-elem-type='text' data-field-top-value="205" data-field-left-value="100"
                 data-field-width-value="490" data-field-axisy-value="top" data-field-axisx-value="left"
                 data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                 data-field-heightunits-value="" data-field-widthunits-value="px" data-animate-style="fadeinright"
                 data-animate-duration="1.5" data-animate-delay="0.4" data-animate-distance="300"
                 data-field-top-res-320-value="163" data-field-left-res-320-value="70"
                 data-field-width-res-320-value="230" data-field-top-res-480-value="195"
                 data-field-left-res-480-value="81" data-field-width-res-480-value="160"
                 data-field-top-res-640-value="218" data-field-left-res-640-value="90"
                 data-field-width-res-640-value="210">

                <div class='tn-atom' field='tn_text_1584585104063'>
                    {% if list_all_games %}
                    К-во участников: {{list_all_games[0].get("participants")}}
<!--                    <br>-->
<!--                    Забронировали: {{list_all_games[0].get("players")}}-->
                    <br>
                    Бай-ин : {{list_all_games[0].get("buy_in")}}
                    <br>
                    BB/SB: {{list_all_games[0].get("bb_sb")}}
                    <br>
                    Доп плата еда: {{list_all_games[0].get("extra_fee_food")}}
                    <br>
                    Доп плата алкоголь: {{list_all_games[0].get("extra_fee_alcohol")}}
                    <br>
                    Перевести на номер: {{list_all_games[0].get("phone_number")}}
                    <br>
                    Дата: {{list_all_games[0].get("date_and_time")}}
                    <br>
                    Локация: {{list_all_games[0].get("location")}}
                    <br>
                    {%else%}
                    Нет ближайших игр!
                    {% endif %}
                </div>


            </div>


        </div>
    </div>
    <script>
        t_onReady(function () {
            t_onFuncLoad('t396_init', function () {
                t396_init('170843943');
            });
        });
    </script>
    <!-- /T396 -->
</div>
<!--    стили и скрипт и фото которые крутятся-->
<div id="rec173195587" class="r t-rec t-rec_pt_60 t-rec_pb_60 t-rec_pb-res-480_0"
     style="padding-top:60px;padding-bottom:60px;background-color:#ffffff; " data-animationappear="off"
     data-record-type="923" data-bg-color="#ffffff">
    <!-- t923 -->
    <div class="t923 t923__witharrows">
        <div class="t-slds" style="visibility: hidden;" aria-roledescription="carousel" aria-label="Слайдер">
            <div class="t-slds__main t-container">
                <ul role="list" class="t-slds__arrow_container">
                    <style type="text/css">
                        #rec173195587 .t-slds__arrow_wrapper:hover .t-slds__arrow-withbg {
                            border-color: #000000 !important;
                            background-color: rgba() !important;
                        }

                        #rec173195587 .t-slds__arrow-withbg:focus-visible {
                            border-color: #000000 !important;
                            background-color: rgba() !important;
                        }
                    </style>
                    <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
                        <button type="button" class="t-slds__arrow t-slds__arrow-left "
                                aria-controls="carousel_173195587" aria-disabled="false"
                                aria-label="Предыдущий слайд">
                            <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 27px;">
                                <svg role="presentation" focusable="false" style="display: block"
                                     viewBox="0 0 27.9 51" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <style type="text/css">
                                        #rec173195587 .t-slds__arrow_wrapper polyline {
                                            -webkit-transition: stroke ease-in-out .2s;
                                            -moz-transition: stroke ease-in-out .2s;
                                            -o-transition: stroke ease-in-out .2s;
                                            transition: stroke ease-in-out .2s;
                                        }

                                        #rec173195587 .t-slds__arrow_wrapper:hover polyline {
                                            stroke: #000000 !important;
                                        }

                                        #rec173195587 .t-slds__arrow:focus-visible polyline {
                                            stroke: #000000 !important;
                                        }
                                    </style>
                                    <polyline fill="none" stroke="#2d4250" stroke-linejoin="butt"
                                              stroke-linecap="butt" stroke-width="3"
                                              points="1.5,1.5 25.5,25.5 1.5,49.5"/>
                                </svg>
                            </div>
                        </button>
                    </li>
                    <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
                        <button type="button" class="t-slds__arrow t-slds__arrow-right "
                                aria-controls="carousel_173195587" aria-disabled="false"
                                aria-label="Следующий слайд">
                            <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 27px;">
                                <svg role="presentation" focusable="false" style="display: block"
                                     viewBox="0 0 27.9 51" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <polyline fill="none" stroke="#2d4250" stroke-linejoin="butt"
                                              stroke-linecap="butt" stroke-width="3"
                                              points="1.5,1.5 25.5,25.5 1.5,49.5"/>
                                </svg>
                            </div>
                        </button>
                    </li>
                </ul>
                <div class="t-slds__container">
                    <div class="t-card__container t-slds__items-wrapper t-slds_animated-slow"
                         id="carousel_173195587" data-slider-items-in-row="2" data-slider-transition="500"
                         data-slider-with-cycle="true" data-slider-correct-height="true"
                         data-auto-correct-mobile-width="false" aria-live="off">
                        {% if list_all_games %}
                        {% for dict_game in list_all_games %}
                        <div class="t-card__col t-slds__item t-slds__item_active t-animate"
                             data-animate-style="zoomin" data-animate-chain="yes" data-slide-index="1" role="group"
                             aria-roledescription="slide" aria-label="1 из 4">
                            <div class="t923__width_12 t-margin_auto t-width">
                                <div class="t923__slds-wrapper t-slds__wrapper t-align_center">
                                    <div class="t923__col t-col t-align_left" style="width: 560px">
                                        <div class="t923__wrapper" style="" data-blocks-per-row="2">
                                            <div class="t923__imgwrapper t923__imgwrapper_1-1"
                                                 style="background-color: #fff;" itemscope
                                                 itemtype="http://schema.org/ImageObject">
                                                <meta itemprop="image"
                                                      content="static/data/panda.svg">
                                                <div class="t923__bgimg t-bgimg"
                                                     data-original="static/data/panda.svg"
                                                     bgimgfield="li_img__1571908130894"></div>
                                            </div>
                                            <div class="t923__content" style="background-color: #fff;">
                                                <div class="t923__textwrapper t923__paddingsmall">
                                                    <center>
                                                        <div class="t-card__descr t-descr t-descr_xxs"
                                                             field="li_descr__1571907907758">
                                                            Количество участников: {{dict_game.get("participants")}}
                                                            <br>
                                                            Бай-ин : {{dict_game.get("buy_in")}}
                                                            <br>
                                                            Дата: {{dict_game.get("date_and_time")}}
                                                            <br>
                                                            Локация: {{dict_game.get("location")}}
                                                        </div>
                                                    </center>
                                                    <style>
                                                        #rec173195587 .t-card__descr {
                                                            font-size: 18px;
                                                            font-weight: 400;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        {%else%}
                        <div class="t-card__col t-slds__item t-slds__item_active t-animate"
                             data-animate-style="zoomin" data-animate-chain="yes" data-slide-index="1" role="group"
                             aria-roledescription="slide" aria-label="1 из 4">
                            <div class="t923__width_12 t-margin_auto t-width">
                                <div class="t923__slds-wrapper t-slds__wrapper t-align_center">
                                    <div class="t923__col t-col t-align_left" style="width: 560px">
                                        <div class="t923__wrapper" style="" data-blocks-per-row="2">
                                            <div class="t923__imgwrapper t923__imgwrapper_1-1"
                                                 style="background-color: #fff;" itemscope
                                                 itemtype="http://schema.org/ImageObject">
                                                <meta itemprop="image"
                                                      content="static/data/panda.svg">
                                                <div class="t923__bgimg t-bgimg"
                                                     data-original="static/data/panda.svg"
                                                     bgimgfield="li_img__1571908130894"></div>
                                            </div>
                                            <div class="t923__content" style="background-color: #fff;">
                                                <div class="t923__textwrapper t923__paddingsmall">
                                                    <center>
                                                        <div class="t-card__descr t-descr t-descr_xxs"
                                                             field="li_descr__1571907907758">
                                                            Нет ближайших игр!
                                                        </div>
                                                    </center>
                                                    <style>
                                                        #rec173195587 .t-card__descr {
                                                            font-size: 18px;
                                                            font-weight: 400;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}

                    </div>
                </div>
            </div>
        </div>
        <script>
            t_onReady(function () {
                t_onFuncLoad('t_sldsInit', function () {
                    t_sldsInit('173195587');
                });
            });
        </script>
        <style>
            #rec173195587 .t-slds__bullet_active .t-slds__bullet_body {
                background-color: #222 !important;
            }

            #rec173195587 .t-slds__bullet:hover .t-slds__bullet_body {
                background-color: #222 !important;
            }
        </style>
    </div>
    <!--[if (IE 8)|(IE 9)]>
    <style>#rec173195587 .t923__slds-wrapper .t923__col {
        display: block;
        margin: 0 auto;
        float: none;
    }</style><![endif]-->
    <script>
        t_onReady(function () {
            t_onFuncLoad('t923_init', function () {
                t923_init('173195587');
            });
        });
    </script>
</div>
<!--    "name for block rules/tsennosty"-->
<div id="rec170876229" class="r t-rec t-rec_pt_60 t-rec_pb_15" style="padding-top:60px;padding-bottom:15px;background-color:#f75e5e; " data-record-type="795" data-bg-color="#fafafa">
            <!-- T795 -->
            <div class="t795">
                <div class="t-container t-align_left">
                    <div class="t-col t-col_12 ">
                        <div class="t795__title t-title t-title_xs t-animate" data-animate-style="zoomin" data-animate-group="yes" data-animate-order="1" field="title">
                             Правила
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    "rules/tsennosty"-->
<div id="rec170854082" class="r t-rec t-rec_pt_0 t-rec_pb_60"
     style="padding-top:0px;padding-bottom:60px;background-color:#f75e5e; " data-record-type="491"
     data-bg-color="#f75e5e">
    <!-- t491 -->
    <div class="t491">
        <div class="t491__container t-card__container t-container">
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild3735-3330-4266-a330-363137353437/2.svg"
                             imgfield="li_img__1476978617855" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978617855"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">
                            Бронирование места
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978617855"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">
                        Для бронирования места необходимо перевести сумму бай-ина. Оповещение об отмене более чем за
                        сутки.<br/>
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild3332-6466-4764-a138-393764336666/4.svg"
                             imgfield="li_img__1476978621977" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978621977"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">Ход вне очереди
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978621977"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">
                        Штраф 1бб за действие (пас, кол, рейз, чек) вне очереди
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild3766-3462-4533-b339-333333636631/5.svg"
                             imgfield="li_img__1476978655843" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978655843"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">
                            Еда и напитки
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978655843"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">
                        Строго запрещено употребление еды и напитков за игровым столом.
                        <br/>
                    </div>
                </div>
            </div>
            <div class="t-clear t491__separator" style="margin-bottom:30px;"></div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild3837-3366-4533-b337-353662346265/6.svg"
                             imgfield="li_img__1476978737724" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978737724"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">
                            Докуп
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978737724"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">Докуп должен быть кратен 500₽
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild6466-3765-4631-a635-346533316333/7.svg"
                             imgfield="li_img__1476978755814" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978755814"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">Вскрытие карт
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978755814"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">Штраф 1бб за показ карт до
                        завершения раздачи
                    </div>
                </div>
            </div>
            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item t-animate"
                 data-animate-style="zoomin" data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img t-img"
                             src="https://static.tildacdn.com/tild3733-6230-4534-b131-386139306531/8.svg"
                             imgfield="li_img__1476978778074" style="width:60px;" alt="">
                        <div class="t-card__title t-name t-name_sm" field="li_title__1476978778074"
                             style="font-size:20px;font-weight:600;font-family:'Montserrat';">Время
                        </div>
                    </div>
                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476978778074"
                         style="font-size:16px;font-weight:400;font-family:'Montserrat';">При произнесении слова
                        "время", засекается 30 секунд на ход. В 1 на 1 - увеличивается до 1 минуты.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        t_onReady(function () {
            t_onFuncLoad('t491_init', function () {
                t491_init('170854082');
            });
        });
    </script>
</div>
{% endblock %}