{% extends 'base.html' %}
{% block body %}
<div id="rec170876229" class="r t-rec t-rec_pt_60 t-rec_pb_15"
     style="padding-top:60px;padding-bottom:15px;background-color:#f75e5e; " data-record-type="795"
     data-bg-color="#f75e5e">
    <!-- T795 -->
    <div class="t795">
        <br/>
        <br/>
        <div class="t-container t-align_left">
            <div class="t-col t-col_12 ">
                <div class="t795__title t-title t-title_xs t-animate" data-animate-style="zoomin"
                     data-animate-group="yes" data-animate-order="1" field="title">
                    Регистрация
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .login-page-main {
        background-color: #f75e5e;
        padding: 50px 0;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .login-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        margin: 0 auto;
        max-width: 500px; /* Новые стили для сужения контейнера */
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #f75e5e;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #d64949;
    }
</style>
<div class="login-page-main">
    <div class="container">
        <div class="row">
            <div class=" ol-xs-12 col-md-12">
                <div class="login-box">
                    <form id="emailForm" action="{{url_for('register2')}}" method="post" enctype="multipart/form-data">


                        <div class="form-group">
                            <label for="code">Code from email (check spam):</label>
                            <input type="number" class="form-control" id="code" name="code" required>
                        </div>

                        <button type="submit" onclick="showCodeForm()">Submit</button>
                    </form>
                </div>

            </div>


        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>


{% endblock %}